body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:15px;
    border:none;
    text-align: center;
}

.father
{
    display: flex;
    border:none;
}

.todo
{
    flex:1;
}

.done
{
    flex:1;
}

.frame
{
    border:none;
    margin:15px;
    outline:none;
    padding:15px;
    background-color: #fff;
    border-top-right-radius: 15px;
    text-align:right;
    border-top:6px solid rgb(255, 51, 255);
}

.checkbox:hover
{
    cursor: pointer;
}
.checkbox
{
    padding:15px;
    margin:15px;
    outline:none;
    color:#ff0000;
}
.text
{
    padding:15px;
    border:1px solid #eee;
    border-radius:5px;
    margin:15px;
    outline:none;
    word-break:break-word;
    background-color: #fff;
    color:#888;
    text-align: left;
    min-height:50px;
}

#add
{
    flex:1;
    text-align:center;
    background-color:rgb(204, 255, 0);
}

#remove
{
    flex:1;
    text-align:center;
    background-color:rgb(204, 51, 102);
}

#remove:hover
{
    cursor: pointer;
}
#add:hover
{
    cursor: pointer;
}

.btn
{
    font-size:50px;
    padding:15px;
    border:none;
    margin:15px;
    outline:none;
    background-color:#eee;
    color:#000;
    border-radius:5px;
}

.top
{
    display: flex;
}

.bottom
{
    text-align: left;
    padding:15px;
    background-color:#ff0000;
    color:#fff;
    margin:15px;
}