/*
    https://github.com/lobossl/todo
*/
body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0px;
    border:none;
    text-align: center;
}

.father
{
    display: flex;
}

.todo
{
    display: flex;
    flex-wrap: wrap;
    flex:1 75%;
    display: inline-block;
}

.done
{
    display: flex;
    flex-wrap: wrap;
    flex:1 25%;
    display: inline-block;
}

.frame
{
    border:none;
    margin:15px;
    outline:none;
    padding:15px;
    background-color: #fff;
    border-top-right-radius: 10px;
    text-align:right;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top,#c025ff,#3064ff) 1 1%;
    min-width:100px;
}

.checkbox:hover
{
    cursor: pointer;
}
.checkbox
{
    padding:15px;
    margin:15px;
    outline:none;
    border-bottom:1px solid #eee;
}

.text
{
    padding:5px;
    margin:5px;
    outline:none;
    word-break:break-word;
    background-color: #fff;
    color:#888;
    text-align: left;
}

.btn
{
    outline:none;
    border:none;
    background-color: #fff;
}

.top
{
    border:none;
    background-color: #fff;
    border-bottom: 1px solid #c025ff;
    padding:15px;
    color:#ccc;
    font-size:32px;
}

#add
{
    background-image: url("icons/add.png");
    background-repeat: no-repeat;
    background-position: center; 
    width: 90px;
    height:90px;
    margin:15px;
    outline:none;
    border:1px solid #eee;
    border-radius:50%;
    display: inline-block;
}

#remove
{
    background-image: url("icons/remove.png");
    background-repeat: no-repeat;
    background-position: center; 
    width: 90px;
    height:90px;
    margin:15px;
    outline:none;
    border:1px solid #eee;
    border-radius:50%;
    display: inline-block;
}

#remove:hover
{
    cursor: pointer;
    border:1px solid orange;
}
#add:hover
{
    cursor: pointer;
    border:1px solid greenyellow;
}

.bottom
{
    text-align: left;
    padding:15px;
    background-color:#ff0000;
    color:#fff;
    margin:0px;
    border:none;
    font-weight: bold;
}