/*
    https://github.com/lobossl/todo
*/
body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 15px;
    border: none;
    text-align: center;
}

#download
{
    background-image: url("icons/download.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 90px;
    height:90px;
    margin:15px;
    outline:none;
    border:1px solid #eee;
    border-radius:50%;
    display: inline-block;
}
#add
{
    background-image: url("icons/add.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 90px;
    height:90px;
    margin:15px;
    outline:none;
    border:1px solid #eee;
    border-radius:50%;
    display: inline-block;
}

#remove
{
    background-image: url("icons/remove.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 90px;
    height:90px;
    margin:15px;
    outline:none;
    border:1px solid #eee;
    border-radius:50%;
    display: inline-block;
}

#download:hover
{
    cursor: pointer;
    border:1px solid greenyellow;
}
#remove:hover
{
    cursor: pointer;
    border:1px solid orange;
}
#add:hover
{
    cursor: pointer;
    border:1px solid greenyellow;
}

#frame
{
    padding:15px;
}

#insideBox
{
    display: flex;
}

#checkbox
{
    flex:0 auto;
}

#text
{
    padding:15px;
    word-break:break-word;
    text-align: left;
    font-size:100%;
    color:#555;
    flex:1 90%;
}

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#todo
{
    border:1px solid #eee;
    flex: 1 auto;
    margin:15px;
}

#done
{
    border:1px solid #eee;
    flex: 1 auto;
    margin:15px;
}

#todo > p
{
    margin:15px;
    min-width:200px;
}

#done > p
{
    margin:15px;
    min-width:200px;
}


/* Mobile if mindre enn 800 px do this */
@media only screen and (max-width: 800px)
{
    /* Disabled for now */
}

h3
{
    background-color: #556677;
    color:#fff;
    margin:auto;
    padding:15px;
}