/*
	https://github.com/lobossl/todo/
	version: 3.05
*/
::placeholder{
	color:#333;
}

a{
	text-decoration: none;
	color:#FFFFFF;
}

body{
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	line-height: 1.3;
	margin:0 auto;
	border:none;
	padding:0;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-center{
	align-items: center;
    justify-content: center;
}

.flex-def-100{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.flex-def{
	display: flex;
}

.flex-row{
	flex-direction: row;
}

.flex-col{
	flex-direction: column;
}

.flex-size-1{
	flex:1;
}

.flex-size-2{
	flex:2;
}

.flex-size-3{
	flex:3;
}

.flex-gap{
	gap:1em;
}

.outline-0{
	outline:none;
}

.flex-justify-center{
	justify-content: center;
}

.user-select-0{
	user-select: none;
}

.word-break{
	word-break:break-word;
}

.align-def{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}

.padding-big{
	padding:15px;
}
.padding-def{
	padding:15px;
}
.padding-0{
	padding:0;
}

.outline-def{
	outline:auto;
}
.outline-0{
	outline:none;
}

.margin-def{
	margin:10px;
}
.margin-0{
	margin:0;
}

.radius-min{
	border-radius:6px;
}
.radius-def{
	border-radius:10px;
}
.radius-max{
	border-radius:20px;
}

.border-def{
	border:1px solid #ccc;
}
.border-0{
	border:none;
}
.border-debug{
	border:2px solid red;
}

.wrap{
	word-wrap: break-word;
}

.width-max{
	width:100%;
}

.cursor{
	cursor: pointer;
}

.list-style-type-0{
	list-style-type: none;
}

.font-size-def{
	font-size:1em;
}
.font-size-med{
	font-size:1.2em;
}
.font-size-big{
	font-size:2em;
}

.opacity-def{
	opacity: 0.5;
}